html, body, div, span,
h1, h2, h3, h4, h5, h6, 
p, a,  em, img,
strong, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, hgroup, 
menu, nav, section, summary{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: Consolas;
    font-size: 18px;
    color: #0094ff;
}

p {
    margin: 20px;
}

p:first-letter {
    font-family: Edwardian Script ITC;
    font-size: 50px;
}

p:first-line {
    font-weight: bold;
}