html, body, main, section, article, div, p, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #a39f99;
}

main {
    width: 660px;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #3d3e3e;
    border: 1px solid #86654c;
    border-radius: 10px;
}

section > header {
    width: 658px;
    height: 68px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #3d3e3e; /* Old browsers */
    background: -moz-linear-gradient(top, #3d3e3e 0%, #3d3e3e 90%, #282928 100%, #282928 100%, #282928 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3e3e), color-stop(95%,#3d3e3e), color-stop(100%,#282928), color-stop(100%,#282928), color-stop(100%,#282928)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3d3e3e 0%,#3d3e3e 90%,#282928 100%,#282928 100%,#282928 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3d3e3e 0%,#3d3e3e 90%,#282928 100%,#282928 100%,#282928 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3d3e3e 0%,#3d3e3e 90%,#282928 100%,#282928 100%,#282928 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3d3e3e 0%,#3d3e3e 90%,#282928 100%,#282928 100%,#282928 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3e3e', endColorstr='#282928',GradientType=0 ); /* IE6-9 */
}

img {
    float: left;
    width: 36px;
    height: 44px;
    padding-left: 12px;
    padding-top: 8px;
}

label {
    float: left;
    display: block;
    margin-top: 18px;
    margin-left: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
}

input {
    margin-top: 18px;
    width: 148px;
    height: 18px;
    border: 1.5px inset #779cad;
}

    input[type=text] {
        margin: 0 17px;
    }

    input[type=email] {
        margin: 0 3px;
    }

::-webkit-input-placeholder {
    color: #000;
}

input[type=button] {
    margin-top: 16px;
    margin-left: 14px;
    width: 56px;
    height: 28px;
    background: #393a42 url(images/button.png) no-repeat;
    border: none;
    color: #FFF;
}

article {
    padding-left: 12px;
    padding-right: 35px;
}

h1 {
    margin-top: 17px;
    margin-bottom: 18px;
    font-size: 2.0em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ffdb22;
    font-weight: normal;
}

p {
    line-height: 18px;
}

span {
    color: #FFF;
}
