html, body, div, span,
h1, p, a,  em, img,
strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #A9A9A9;
    font-family: 'Times New Roman', Georgia, serif;
    font-size: 18px;
}

h1 {
    margin: 30px;
    font-size: 2.2em;
    font-weight: bold;
    color: #F9F8D1;
    text-align: center;
}

article h1 {
    margin: 20px 0 20px 10px;
    font-size: 1.8em;      
    text-align: left;
}

nav {
    text-align: center;
}

nav > ul {
    list-style-type: none;
}

nav li:last-of-type {
    text-decoration: underline;
}

nav a {
    font-size: 1.4em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;    
}

nav a:hover {
    background-color: #D3D3D3;
}

p {
    margin: 15px 10px 15px 10px;
    text-align: left;
}

footer > p {
    font-size: 0.8em;
}

footer > p > a {
    text-decoration: none;
    color: #000;
}

footer {
    text-align:center;
}
