body, html, nav, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000;
}

nav {
    margin-left: 20px;
    margin-top: 20px;
}

    nav ul {
        list-style-type: none;
    }

#main-menu > li > a {
    text-decoration: none;
    color: #000;
}

.sub-menu {
    display: none;
    margin-left: 10px;
}

    .sub-menu a {
        color: gray;
        font-size: 0.9em;
        text-decoration: none;
    }

#main-menu > li > a:hover {
    text-decoration: underline;
}

#main-menu > li:hover ul {
    display: block;
}
