table {
    border: 2px solid black;
    margin: 40px;
    padding: 5px;
}

input {
    font-family: 'Cataneo BT';
    font-size: 20px;
}

    input[type = text] {
        width: 166px;
        height: 30px;
        text-align: right;
    }

    input[type = button] {
        width: 40px;
        height: 40px;
        border: 2px solid;
        //border-color: darkgrey lightgray lightgray darkgrey;
        border-color: lightgray darkgrey darkgrey lightgray;
    }

#zero {
    width: 84px;
    text-align: center;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
}
