div {
    border: 1px solid red;
    border-radius: 60px;
    background-color: black;
    padding: 0 22px 0 0;
}

#second, #second div {
    border: 1px solid red;
    border-radius: 80px;
    background-color: black;
    padding: 0 3.5% 0 0;
}
